<div class="modal modal-bg donate-modal-bg"></div>

<div class="modal donate-modal">
    <i class="fa fa-close close-modal"></i>
    <div class="modal-inner">
        <h1>Give the gift of <i class="fa fa-graduation-cap"></i> STEM</h1>
        <div class="donation-grid">
            <div class="option option-1">
                <h3>Give To A Student</h3>
                <p>
                    Provides a student with world-class STEM curricula for 1 year.
                </p>
                <div class="pay">
                    <form action="">
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_1mTSM2Yi6FgGigarCibJv5je"
                        data-amount="700"
                        data-name="JASON Curricula Donation"
                        data-description="Student-level donation ($7)"
                        data-image=""
                        data-zip-code="true"
                        data-locale="auto">
                      </script>
                    </form>
                    <span class="price">$7</span>
                </div>

            </div>
            <div class="option option-2">
                <h3>Give To A Classroom</h3>
                <p>
                    Provides a classroom with world-class STEM curricula for 1 year.
                </p>
                <div class="pay">
                    <form action="" method="POST">
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_1mTSM2Yi6FgGigarCibJv5je"
                        data-amount="18000"
                        data-name="JASON Curricula Donation"
                        data-description="Classroom-level donation ($180)"
                        data-image=""
                        data-zip-code="true"
                        data-locale="auto">
                      </script>
                    </form>
                    <span class="price">$180</span>
                </div>
            </div>
            <div class="option option-3">
                <h3>Give To A Teacher</h3>
                <p>
                    Provides a teacher, including all of their classes, with world-class STEM curricula for 1 year.
                </p>
                <div class="pay">
                    <form action="" method="POST">
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_1mTSM2Yi6FgGigarCibJv5je"
                        data-amount="45000"
                        data-name="JASON Curricula Donation"
                        data-description="Teacher-level donation ($450)"
                        data-image=""
                        data-zip-code="true"
                        data-locale="auto">
                      </script>
                    </form>
                    <span class="price">$450</span>
                </div>
            </div>
            <div class="option option-4">
                <h3>Give To A School</h3>
                <p>
                    Provides an entire school, including all students and classes, with world-class STEM curricula for 1 year.
                </p>
                <div class="pay">
                    <form action="" method="POST">
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_1mTSM2Yi6FgGigarCibJv5je"
                        data-amount="500000"
                        data-name="JASON Curricula Donation"
                        data-description="School-level donation ($5,000)"
                        data-image=""
                        data-zip-code="true"
                        data-locale="auto">
                      </script>
                    </form>
                    <span class="price">$5,000</span>
                </div>
            </div>
        </div>
    </div>
</div>
