<div class="header-bg"> </div>
<div class="header">
    <img src="public/assets/logo2.png" alt="" />
    <h1>"As we express our gratitude, we must never forget that the highest appreciation is not to utter words, <em>but to live by them.</em>"<span>- John Fitzgerald Kennedy</span></h1>
    <div class="subheads">
        <h3>This Thanksgiving, give the gift of <span><i class="fa fa-graduation-cap"></i> STEM</span></h3>
        <h5>Your generous $7 donation will provide a single student with award-winning STEM curriculum for an entire year.</h5>

        <div class="buttons">
            <a class="donate">Give $7 <i class="fa fa-credit-card"></i></a>
        </div>

    </div>

</div>
