.header-bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url("../public/assets/bg1.jpg") no-repeat center center scroll;
    background-size: cover;
    z-index: -1;
}

.header {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: rgba(22,167,143, 0.85);
    padding: 20px;
    box-sizing: border-box;

    img {
        max-height: 100px;
        margin: 0px auto;
        margin-bottom: 40px;

        @include media-query($on-palm) {
            max-height: 80px
        }
    }

    h1 {
        color: #fff;
        font-size: 60px;
        text-align: left;
        line-height: 1.5;
        font-weight: 100;
        max-width: 75%;
        margin: 0 auto;
        margin-bottom: 80px;

        @include media-query($on-palm) {
            font-size: 30px;
            margin-bottom: 40px;
            max-width: 100%;
        }

        span {
            display: block;
            font-weight: 900;
            color: rgba(0,0,0,0.5);
            font-size: 30px;
            text-transform: uppercase;
            margin-top: 10px;
            text-align: right;

            @include media-query($on-palm) {
                font-size: 20px;
            }
        }
    }

    .subheads {
        background-color: #fff;
        padding: 40px;
        box-sizing: border-box;
        margin-bottom: 80px;

        @include media-query($on-palm) {
            padding: 20px;
            margin-bottom: 40px;
        }

        h3 {
            color: #F26222;
            font-weight: 300;
            font-size: 50px;
            text-align: center;
            max-width: 70%;
            margin: 40px auto;
            line-height: 1;

            @include media-query($on-palm) {
                font-size: 30px;
                max-width: 100%;
                margin: 20px auto;
            }

            span {
                display: block;
                font-size: 180px;
                font-weight: 900;

                @include media-query($on-palm) {
                    font-size: 80px;
                }

                i {
                    color: #F68D1F;
                }
            }
        }

        h5 {
            text-align: center;
            max-width: 50%;
            margin: 0 auto;
            font-weight: 300;
            font-size: 30px;
            color: #666;
            margin-bottom: 40px;

            @include media-query($on-palm) {
                font-size: 20px;
                margin-bottom: 20px;
                max-width: 100%;
            }
        }

        .buttons {
            text-align: center;
            display: flex;
            flex-flow: column nowrap;
            a { flex: 0 0 auto; margin: 0 auto; }
            .donate {
                padding: 20px 40px;
                padding-right: 30px;
                box-sizing: border-box;
                border: 2px solid #F26222;
                color: #F26222;
                margin-bottom: 40px;
                font-weight: 900;
                font-size: 24px;

                i {
                    color: #F26222;
                    margin-left: 5px;
                }
            }
            .learn-more {
                margin-top: 40px;
                font-size: 50px;
                color: #F26222;
            }
        }

    }



}

.home {
    background-color: #F26222;
    min-height: 80vh;
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @include media-query($on-palm) {
        padding: 40px 20px;
    }

    h3 {
        font-weight: 900;
        font-size: 30px;
        margin: 0 auto;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 20px;
        color: rgba(0,0,0,0.5);

        @include media-query($on-palm) {
            font-size: 20px;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;

        @include media-query($on-palm) {
            flex-flow: column nowrap;
        }

        li {
            flex: 1;
            margin: 0 auto;
            color: #fff;
            font-weight: 300;
            font-size: 24px;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;

            span {
                display: block;
                text-align: center;
                margin-bottom: 10px;

                i {
                    color: #fff;
                    margin: 0 10px;
                    font-size: 40px;
                }
            }
        }
    }
}

.home-2 {
    background-color: #F68D1F;
    min-height: 80vh;
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @include media-query($on-palm) {
        padding: 40px 20px;
    }

    h3 {
        font-weight: 900;
        font-size: 30px;
        margin: 0 auto;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 20px;
        color: rgba(0,0,0,0.5);

        @include media-query($on-palm) {
            font-size: 20px;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;

        @include media-query($on-palm) {
            flex-flow: column nowrap;
        }

        li {
            flex: 1;
            margin: 0 auto;
            color: #fff;
            font-weight: 300;
            font-size: 24px;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;

            span {
                display: block;
                text-align: center;
                margin-bottom: 10px;

                i {
                    color: #fff;
                    margin: 0 10px;
                    font-size: 40px;
                }
            }
        }
    }

    .ceo-letter {
        margin: 40px auto;
        color: rgba(0,0,0,0.5);
        border: 2px solid rgba(0,0,0,0.5);
        padding: 20px 40px;
        box-sizing: border-box;
        font-weight: 900;
    }
}
